html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    align-content: center;
    margin: 0 auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

.header{
    padding-top:15px;
}
.logoRes{
    position: relative;
    float: left;
}
.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #53b8df;
    margin-top: 150px;
}
.h2{
    color: #53b8df;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    line-height: 20px;
}

.trio{
    margin-top: 80px;
}

.fase{
    text-align: center;
}

.button.btnCircular{
    flex: 0 1 auto;
    align-self: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.btnCircular:hover{
    color: white;
    border: none;
    background: #70aeeb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #70aeeb, #46e0cf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #70aeeb, #46e0cf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #70aeeb, #46e0cf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #70aeeb, #46e0cf); /* Standard syntax */
}
.btnCircular:disabled{
    border: none;
    background: #9ac6f1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #9ac6f1, #7de9dd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #9ac6f1, #7de9dd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #9ac6f1, #7de9dd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #9ac6f1, #7de9dd); /* Standard syntax */
}
.btn1{
    color: white;

    border: none;
    background: #61a5e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #61a5e9, #32ddca); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #61a5e9, #32ddca); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #61a5e9, #32ddca); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #61a5e9, #32ddca); /* Standard syntax */
}
.btn2{
    color: gray;
    background: rgba(255,255,255,0);
    border: 2px solid #53b8df;

}
.btn3{
    color: gray;
    background: rgba(255,255,255,0);
    border: 2px solid #53b8df;
}
.form-control{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.button.btnRect {
    border: none;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 20px;
    cursor: pointer;
}
.btnR{
    background: #61a5e9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #61a5e9, #32ddca); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #61a5e9, #32ddca); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #61a5e9, #32ddca); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #61a5e9, #32ddca); /* Standard syntax */
}
.btnR:hover{
    background: #70aeeb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #70aeeb, #46e0cf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #70aeeb, #46e0cf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #70aeeb, #46e0cf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #70aeeb, #46e0cf); /* Standard syntax */
}

.btnF{
    background: #3b5998;
}
.btnF:hover{
    background: #4e69a2;
}
.btnG{
    background: #4885ed;
}
.btnG:hover{
    background: #5a91ee;
}
.or{
    color: gray;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 20px 0 5px 0;
}
.pie{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.pie li{
    padding: 0 20px;
    display: inline-block;

}
.pie li a{
    text-decoration: none;
    color: #00538c;
    margin-top: 120px;
    margin-bottom: 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.blue{
    z-index: -1;
    position:fixed;
    bottom: 0;}
.a.return{
       font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    float: right;
}